div{
    background-color:red;
    color:white;
    font-size:32px;
    font-weight:bold;
    text-align:center;
}
p{
    background-color:green;
    color:white;
    text-align:left;
}
button{
    background-color:orange
}
